@media only screen and (min-width: 32.5em) {

header img {
        max-width:25%;
        float: right;
        margin-right: 2em;
        margin-top: 2em;
        box-shadow:5px 5px  #F2F2F2;
}

h1 {
    font-size: 5em;

}

h2{
    font-size: 1.5em;
}

 header, footer{
    
    border-radius: 10px;
   
}





}