body {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    background-color: #99a198;
}

h1 {
    text-align: center;
}

picture {
    justify-self: center;
}

picture img {
    width: 300px;
    height: 400px;
    box-shadow: 3px 3px 10px #000;
}

picture img[data-src] {
    filter: blur(.05em);
}