
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Mulish:wght@300&display=swap');

:root{
    --primary-color: #735755; 
    --secondary-color: #6BB0BF; 
    --accent1-color: #D99873; 
    --accent2-color: #; 

    --heading-font: 'Cormorant Upright', serif;
    --paragraph-font: 'Mulish', sans-serif;
}


html {
    background-color: var( --accent2-color);
    margin: 0 auto;   
}

body {
    max-width: 1300px;
    background-color: white ;
    margin: 0 auto;  
    width: 1300px;     
}

main {
	display: grid;
    padding: 0%;

}

header img{
    max-width: 12%;
    float: left;
    margin: 2% 3%;
    width: 10%

    
}

nav button{
    text-align: right;
    margin: auto;
    transition: background-color 1s;
    background-color: white;
}

nav{
    background-color: white;
    text-align: center;
    padding-left: 10%;
    transition: background-color 1s;
    
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
    transition: background-color 1s;
    
}
nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.8rem;
	text-decoration: none;
    font-size: 1.3rem;
    font-family: var(--paragraph-font);
}

nav a:hover {
    color: white;
    background-color: var(--secondary-color);
    border-top: 3px var(--primary-color);
    
}

nav a:active{
    background-color: var(--secondary-color);
    color: white;
    
}

.activeB a{
    color: var(--accent1-color);
    text-decoration: none;
}


section h2{
    color: var(--secondary-color);
}

h1{
    font-family:  var(--heading-font);
    font-size: 1em;
    color:var(--accent1-color);


}

header h1{
    font-family: var(--heading-font);
    color:var(--secondary-color);
    font-size: 3em;
    
}

h2{
    font-family:  var(--paragraph-font);
    color: var(--accent1-color);
    font-size: 6em;
    padding: 1%;
    padding-left:2%;
}

h3{
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    font-size:2em;



}

p{
    font-family: var(--paragraph-font);
    font-size:1em;


}

header h2{
    font-size: 1.5em;
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    margin-top: -2%;
    margin-bottom: 3%;
}

.h2{
    color: var(--accent2-color);

}


h2 a{
    color: black;
}

.lnk {
    color: black;
}

 img {
    width:30%;
    margin: 0;
    padding: 0;
}


header{
    background-color:white; 
    padding: 0.2em;
    text-align: center;
    font-family: var(--paragraph-font);
    

}

picture{
    margin:0;
    padding:0;
}

/*hero image and summary*/
.herodiv {
    
    position: relative;
    text-align: center;
}
.herodiv h1, h2, p {
    margin: 0;
}

.herodiv img{
    
    background-size: cover;
    top: 5%;
    
}

.hero-image{
    width: 100%;
    
}


/*weather info*/

.weatherSec{
    background-color: var(--secondary-color);
    padding: 4%;
}

.weatherSec h2{
    text-align: center;
    color:white;
}

.weather{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;

}

.weather h3{
    margin: 10px 0px;
    color: white;
    text-align: center;
    padding-bottom: 2%;
}
.summary {
	position: absolute;
    text-align: center;
    
}
.summary p{
    font-size: 1.5em;
}
.summary h3{
    
    margin-top: 0;
}

/*3days*/

.ph-forecast{
    padding: 2%;
}
.forecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
}

.ph-forecast p{
    text-align: center;
}

.day-table {
    padding: 0;
    font-family: var(--paragraph-font);
    text-align: center;
}

.days {
    display: block;
    padding: 10px 0;
    font-size: 1.5em;
    color:var(--accent1-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.forecastTable{
    padding-bottom: 5%;
    background-color: white;
    border-radius: 50%;
}

#forecastDay1, #forecastDay2, #forecastDay3{
    font-size: 1.3em;
}

#icon1, #icon2, #icon3{
    margin-top: 5%;
    width: 45%;
}


/*rental type information*/

.rentalSec{
    background-color: var(--accent1-color);
    padding: 2%;
}

.rentalSec h2{
    color: white;
    text-align: center;
}

.rentalSummary  a{
    color: var(--accent1-color);

}

.rentalSummary a:visited {
    color: var(--accent1-color);

}
.typeRental {
    text-align: center;
    width: 100%;
    border: 2px solid var(--accent1-color);
    background-color: var(--accent1-color) ;
    padding: 2%;
    margin: 0 auto;
    
}
.typeRental h2{
    font-size: 2em;
    margin: 20px;
    color: white;
}

.typeRental h3{
    font-size: 1.5em;
    margin: 10px;
    color: white;
}
.typeRental p{
    
    margin: 10px;
    
}

.summary button{
    margin: 3% 0 0 0;
    padding: 2% 4%;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--paragraph-font);
    font-size: 1.3em;
    border-radius: 20px;
    border: none;
   
}

.summary a{
    color: white;
    text-decoration: none;
}

.summary a:visited{
    color: white;
    text-decoration: none;
}



/*contact information*/

.information p{
    font-size: 1.5em;
}

.map iframe{
    width: 50%;
    float: left;
    margin-bottom: 2%;
    
}
.ph-contact{
    border: 2px solid var(--primary-color);
    margin:5% ;
    
}

.ph-contact h2{
    padding: 3% 0 2% 2%;
    
}
   
.sns{
    margin: 0 auto;
}

.sns img{
    width: 40%;
    margin: 0 auto;
    padding: 1%;
    justify-content: center;
}


table{
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    padding: 1%;
}

th{
    color: white;
}
td {
    height: 50px;
    text-align: center;
    font-family: var(--paragraph-font);

}

/*rental page*/


.prices {
    display: block;
    text-align: center;    
    
}

.prices h2{
    margin-top: 2%;
}

.prices img{
    width: 40%;
}
.card {
    height: 400px;
    margin: 10px ;
    background-color:  rgb(226, 202, 202); 
    border: 2px solid var(--primary-color);
}


@media only screen and (min-width: 20em) {
    .prices{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 35em) {
    .prices{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 64em) {
    .prices{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}



footer{
    background-color: var( --primary-color) ;
    padding: 0.3em;
    text-align: center;
    font-family: var(--paragraph-font);
    color: white;
}



.lnk a:link, .lnk a:visited {
    color: black;
}

footer a:link, footer a:visited {
    color: white;
}

li{
    font-family: var(--paragraph-font) ;
}


.contentbox{
    display: block;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 15px;
    background-color: #ccc;
    color: #444;
    font-family: var(--paragraph-font);
    

}
/* -----FORM------ */
form fieldset{
    margin: 2rem 1rem;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: .5rem 2%;

}
form legend{
    color: var(--accent1-color);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-family: var(--heading-font);
    font-size: 2rem;

}
form label.top, form{
    display: block;
    padding: 1rem 0;
    color: var(--accent1-color);
    font-size: 1rem;
    font-family: var(--paragraph-font);
}

form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: 1px solid var(--accent1-color);
    border-radius: 4px;
    padding: .8rem;
    width: 100%;
    max-width: 20rem;
    background: var(--accent2-color);
}

form label.sbs{
    display: block;
    padding: .5rem;
    color: var(--accent1-color);
    font-size: 1.2em;
}

form label li{
    color: var(--primary-color)
}
form input.agree{
    font-size: 3em;
}
form input.submitBtn{
    border: none;
    background: var(--secondary-color);
    color: white;
    padding: 1rem 2rem ;
    border-radius: 20px;
    width: 96%;
    max-width: 20rem;
    font-size: 1.3em;
    text-align: center;
    
}

form input.submitBtn:hover{
    background: var(--accent1-color);

}

form label.top input:required{
    border-left: 7px solid var(--secondary-color);
}

form label.top input:required:valid{
    border-left: 7px solid var(--accent1-color);
}


form textarea{
    width:100%;
    padding:2%;
    
    
}

/* -----THANKS PAGE----- */
.thanksBtn button{
    border: none;
    background: var(--accent1-color);
    color: white;
    padding: 1rem 2rem ;
    border-radius: 20px; 
    max-width: 15rem;
    width: 60%;
    font-size: 1.3em;
    text-align: center;
    
}

.thanksBtn { 
    text-align: center;
    margin: 2%;
}

.thanksBtn button a:visited{
    color: white;
}

.thanksBtn button a{
    text-decoration: none;    
}
.thanksBtn button:hover{
    background-color: var(--secondary-color);
}


/*tours page*/
.tours{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 20em) {
    .tours{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 35em) {
    .tours{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 64em) {
    .tours{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.dolphin{
    text-align: center;
    padding: 3% 5%;
    background-color: var(--accent1-color) ;
    margin: 2%;

}

.center{
    text-align: center;
    margin-top: 2%;
}

.dolphin button{
    margin: 3% 0 1% 0;
    padding: 3% 4%;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--paragraph-font);
    font-size: 1.3em;
    border-radius: 20px;
    border: none;
    
}

.dolphin h3{
    color: white;
}
.dolphin img{
    margin-bottom: 2%;
    width: 70%;
}

.dolphin a{
    color: white;
    text-decoration: none;
}

.dolphin a:visited{
    color: white;
    text-decoration: none;
}

/*contact page*/
.contactP{
    background-color: var(--primary-color);
    color: white;
}

.contactP form fieldset{
    border: none;

}

.contactP form legend{
    color: white;
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 1% 0;
    font-size: 1em;
}
.contactP form label.top, form{

    color: white;
    font-size: 1em;

   
}

.contactP form label.top input, form label.top select{
    border: 1px solid white;
    border-radius: 4px;
    padding: .8rem;
    width: 100%;
    max-width: 40rem;
    background: white;
}

.contactP form input.submitBtn{
    margin-top: 30px;
}

.contactP textarea{
    font-size: .8em;
}


/*AREA INFORMATION*/
.cards{
 
    gap: 1em;
    margin: 20px 1% 0 0;
    background-color: var(--accent1-color);
    padding: 1%;

}

.card{
    padding: 2%;
    background-color: white;

}

.card h3{
    color: var(--secondary-color);
}

.card h4{
    font-weight: 700;
    font-family: var(--paragraph-font);
}

.areainfo h2{
    margin-top: 4%;
}





/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	/* Horizontal Menu Examples */
	/* Flex *********************/
	/*	nav ul { display: flex; }
		nav ul li { flex: 1 1 100%; }
	*/

	/* Grid *********************/
			nav ul { 
				display: flex;
				/*grid-template-columns: repeat(5, 1fr);*/
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                padding: 1%;
                
                
            }
            
            nav ul li { flex: 1 1 100%; }

	/* Inline-Block             */
	/*
			nav li {display: inline-block;}
	*/

	/* Float                    */
	/*
			nav li {float:left; margin-right:15px;}
			main {clear:both;}
	*/

/*******************************************************/
	
	nav a {
		font-size: 1rem;
	}
	
	
	
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	nav a {
		font-size: 1.1rem;
	}
	
	
}








