/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav{
        padding: 2% 0;
        margin: 0
    }

    nav.clearfix{
        margin:0;
        padding: 2% 0 0 0;
    }
    nav button{
        display:none;
    }



    nav ul.hide{
        display: block;
    }
   

    nav ul li{
       
        float:right;
        }

    nav ul li a{
        border: none;
        padding:.5rem 2rem;
        font-size: 1.8em;
        
    }

    header img{
        width: 12%;
        max-width: 20%;
    }
    

    h1{
        font-size: 2em;
        padding-left: 2% ;
    }

    h2{
        font-size: 2em;
    }

    header h1{
        font-family: 'Fredoka One', cursive;
        color:var(--secondary-color);
        font-size: 3em;
        padding: 0 ;

        
    }

   

    .herodiv img{
        background-size: cover;
        
    }

/*weather*/
    .weather{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    
    }

    .summary {
        position: static;
        padding: 1rem;
    }

    .article{
        border: 1px solid var(--accent1-color);
        padding: 2%;
        min-height: 230px;
        
    }

    .article-img img{
        float: right;
        width: 20%;
    }


    .map img{
        width: 200px;
        max-width: 200px;;
        padding-left: 2%;
        margin: 0 auto;
     
       
    }
    .information img{
       
        max-width: 25px;;
    }

    /*contact information*/
    .sns {
        width: 50%;
        
        
    }

    .sns img{
        margin: 0 auto;
        
    }


    /*rental page*/
    .prices img{
        width: 40%;
    }

    .card {
        height: 350px;
        margin: 10px ;
    }


    /*tours page*/

.dolphin p{
    font-size: 1.2em;
}

/*AREA INFORMATION*/
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
    margin: 2%;
    background-color: var(--accent1-color);
    padding: 1%;

}

.card{
    display: block;
}

.card h3{
    padding: 2%;
}
    

} /*end large */