/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media only screen and (min-width: 20rem){



nav button{
    margin: 3rem 3%;
    background-color: transparent;
    border: none;
    font-size: 7em;
    color: var(--primary-color);
    float: right;

}

.activeB a {
    color: var(--accent1-color);
    text-decoration: underline;
}

nav{
    font-family: var(--paragraph-font);
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;


}

nav ul li a{
    display: block;
    padding: .8em 2%;
    text-decoration: none;
    color: var(--primary-color);
    border-top: 1px solid rgba(0,0,0,3);
}

nav ul li a.active{
    background-color: rgba(0,0,0,2);
    color: var(--secondary-color);

}
nav ul li a:hover{
    background-color: rgba(217, 152, 115, 5);
}

nav ul.hide{
    display: none;
}

header img{
    width: 18%;
    max-width: 20%;
}

h1{
    font-size: 2em;
    padding-left: 2% ;

}

h2{
    font-size: 3em;
}

.herodiv img{
    width: 100%;
    background-size: cover;
    
    
}
/*weather*/
.weather{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5em;

}
.summary {
    position: static;
    margin-top: 2%;    
    background-color: var(--accent2-color);
    
   
}

.forecast h2{
    display: flex;
    text-align: center;
}

.article{
    border: none;
    padding: 4%;
    background-color: var(--accent2-color);
}

.article-img img{
    float: none;
    min-height: 200px;
    width: 100%;
}

.towns{
    text-align: center;
}

footer{
    padding: 1em;
    text-align: center;
    font-family: var(--paragraph-font);
}

/*contact information*/
.sns {
    width: 80%;
   
}

.sns img{
    width: 80px;
}
.map img{
    margin: 0 auto;
    padding: 0;
    
}

.last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
  .tbl-r01 {
    width: 80%;
  }
  .tbl-r02 th,
  .tbl-r02 td {

    display: block;
    width: 100%;
    
    
  }

  td {
    height: 200px;
    text-align: center;
    font-family: var(--paragraph-font);
}



.cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5em;
}

.card h3{
    margin: 1%;
}

.card p{
    margin-bottom: 2%;
}

.card img{
    margin: auto;
    max-width: 80%;
}

/*rental page*/
.prices img{
    width: 35%;
}

.card {
    height: 700px;
    margin: 10px ;
}

/*tours page*/

.dolphin p{
    font-size: 2em;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

}
  











