/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media only screen and (min-width: 20rem){



nav button{
    margin: 3rem 3%;
    background-color: transparent;
    border: none;
    font-size: 7em;
    color: var(--primary-color);
    float: right;

}

.activeB a {
    color: var(--accent1-color);
    text-decoration: none;
}

nav{
    font-family: var(--paragraph-font);
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;


}

nav ul li a{
    display: block;
    padding: .8em 2%;
    text-decoration: none;
    color: var(--primary-color);
    border-top: 1px solid rgba(0,0,0,3);
    font-size: 3rem;
}

nav ul li a.active{
    background-color: var(--secondary-color);
    color: white;

}
nav ul li a:hover{
    
    color: white;
}

nav ul.hide{
    display: none;
}

header img{
    margin:2%;
    max-width: 20%;
    width: 20%;
}
h1{
    font-size: 4em;
    padding-left: 2% ;

}

h2{
    font-size: 4em;
}

p{
    font-size: 2em;
}

.herodiv img{
    width: 100%;
    background-size: cover;
    
    
}


/*rental summary*/
.typeRental h2{
    font-size: 4em;;
}

.typeRental h3{
    font-size: 3em;;
}

.summary button{
    margin: 3% 0 0 0;
    padding: 2% 3%;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--paragraph-font);
    font-size: 2em;
    border-radius: 20px;
   
}

.typeRental{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

/*weather*/
.weather{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5em;

}

.weather h3{
    font-size: 3em;
}
.summary {
    position: static;
    margin-top: 2%;    
    background-color: var(--accent2-color);
}

.summary p{
    font-size: 2em;
}

.forecast h2{
    display: flex;
    text-align: center;
}


.days {
    display: block;
    padding: 10px 0;
    font-size: 3em;
    color:var(--accent1-color);
    border-radius: 60%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.forecastTable{
    padding-bottom: 5%;
    background-color: white;
    border-radius: 60%;
}

#forecastDay1, #forecastDay2, #forecastDay3{
    font-size: 3em;
}

#icon1, #icon2, #icon3{
    margin-top: 5%;
    width: 45%;
}

.article{
    border: none;
    padding: 4%;
    background-color: var(--accent2-color);
}

.article-img img{
    float: none;
    min-height: 200px;
    width: 100%;
}

.towns{
    text-align: center;
}

footer{
    padding: 1em;
    text-align: center;
    font-family: var(--paragraph-font);
}

/*contact information*/

.ph-contact{

    height: 550px;
   
    
}

.ph-contact h2{
    padding: 3% 0 2% 2%;
    font-size: 4em;
}

.information p{
    font-size: 2em;
}
.sns {
    width: 80%;
    float: right;
    margin: 0;
   
}



.sns img{
    width: 8%;
    margin: 2%;
    padding: 1%;
    float: right;
}
.map img{
    margin: 0 auto;
    padding: 0;
    
}

.cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5em;
}

.card h3{
    margin: 1%;
}

.card p{
    margin-bottom: 2%;
}

.card img{
    margin: auto;
    max-width: 80%;
}

/*rental page*/
.prices img{
    width: 35%;
}

.card {
    height: 800px;
    margin: 10px ;
}

/*tours page*/

.dolphin p{
    font-size: 3em;
}

.dolphin h3{
    font-size: 4em;
}

.dolphin button{
    margin: 3% 0 1% 0;
    padding: 3% 4%;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--paragraph-font);
    font-size: 3em;
    width: 40%;
    border-radius: 50px;
    
}

.center{
    font-size: 5em;
}

/*form*/
form fieldset{
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: 1rem 2%;
    

}
form legend{
    color: var(--accent1-color);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 4rem;

}
form label.top, form{
    display: block;
    padding: 1rem 0;
    font-size: 3rem;
    font-family: var(--paragraph-font);
    

}

form label.top input, form label.top select{
    display: block;
    font-size: 2rem;
    border: 3px solid var(--accent1-color);
    border-radius: 4px;
    padding: .8rem;
    width: 100%;
    max-width: 60rem;
    background: var(--accent2-color);
}

form label.sbs{
    display: block;
    font-size: 1em;
    margin-top: 2%;
}

.payment{
    color: var(--primary-color);
    display: inline;
}

form label li{
    color: var(--primary-color)
}
form input.agree{
    font-size: 3em;
}
form input.submitBtn{
    border: none;
    background: var(--secondary-color);
    color: white;
    padding: 1rem 2rem ;
    border-radius: 20px;
    font-size: 1em;
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
    justify-content: center;
    
}




form input.submitBtn:hover{
    background: var(--accent1-color);

}

form label.top input:required{
    border-left: 7px solid var(--secondary-color);
}

form label.top input:required:valid{
    border-left: 7px solid var(--accent1-color);
}


form textarea{
    width:100%;
    padding:2%;
    
    
}
#lastModified{
    font-size: 1.8em;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

}
  











